[%- SET title = "UI (User-Interface) Tests" -%]

[%- BLOCK gen_desc -%]
<p>
UI (User-Interface) Tests for the online Freecell Solvers (intended for developers and contributors).
</p>
[% END %]

[%- BLOCK emscripten_common -%]
[% INCLUDE emscripten_common__header subject=subject , %]
<script>
[% INCLUDE set_up_requirejs %]
[% "\n" %]
require(["ui-tests-driver"], function (tests_runner) {
require(['./solver-freecell'], function (solver) {
    [% incs %] {
[% IF enable_jquery_ui %]
[% INCLUDE set_up_tabs %]
[% END %]
[% "\n" %]
    window.my_web_fc_solve_ui = web_fc_solve_ui;
    web_fc_solve_ui.set_up(module_wrapper, solver);
    tests_runner.run_after_delay(tests_runner.run_tests);
[%- IF enable_jquery_ui -%]
    $( "#output_tabs" ).tabs();
[% END %]
[% "\n\n" %]
[% suffix %]
);
});
});
</script>

[% END %]

[%- BLOCK run_emscripten_common -%]
[% INCLUDE emscripten_common incs="require([\"web-fc-solve-ui\", 'solver-freecell', 'solitaire', 'auto-stack-clear', 'auto-turnover', 'statistics', 'autoplay', 'application', 'freecell',], function (web_fc_solve_ui, solver2, solitaire, auto_stack, auto_turn, statistics, autoplay, application, freecell) { window.my_web_fc_solve_ui = web_fc_solve_ui; web_fc_solve_ui.init_module((module_wrapper) => { " , subject="Solver", suffix="}; });}\n" %]
[% END %]
[%- BLOCK page_extra_head_elements -%]
<link rel="stylesheet" href="[% base_path %]css/qunit.css" />
[% pre_requirejs_javascript_tags() %]
[% load_javascript_srcs("qunit.js") %]
[% load_javascript_srcs("require--debug.js") %]
[% load_javascript_srcs("yui-debug.js") %]
[% load_javascript_srcs("yui-breakout.js") %]
<link rel="stylesheet" href="[% base_path %]web-fc-solve.css" />
<link rel="stylesheet" href="[% base_path %]solitairey-cards.css" />
[% END %]
[%- BLOCK extended_body -%]

<h1 id="qunit-header">QUnit test</h1>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent">User Agent</h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>

[% END %]
[% INCLUDE "src/js-fc-solve/text/index.html.tt2" %]
