{% extends "js-fc-solve/text/index.html.jinja" %}
{% import "Inc/js_fc_solve.jinja" as jsfcs %}

{% macro gen_desc() %}
<p>
GUI Tests for the online Freecell Solvers (intended for developers and contributors).
</p>
{% endmacro %}

{% macro emscripten_common(incs='', subject='', suffix='') %}
{{ jsfcs.emscripten_common__header(subject, gen_desc()) }}
<script>
{{ jsfcs.set_up_requirejs()}}
require(["ui-tests-driver"], function (tests_runner) {
require(['./solver-freecell'], function (solver) {
    {{ incs }} {
    {% if enable_jquery_ui %}
    {{ jsfcs.set_up_tabs()}}
    {% endif %}
    web_fc_solve_ui.set_up(module_wrapper, solver);
    tests_runner.run_after_delay(tests_runner.run_tests);
    {% if enable_jquery_ui %}
    $( "#output_tabs" ).tabs();
    {% endif %}
{{ suffix }}
);
});
});
</script>

{% endmacro %}

{% block run_emscripten_common %}
{{ emscripten_common(incs="require([\"web-fc-solve-ui\", 'solver-freecell', 'solitaire', 'auto-stack-clear', 'auto-turnover', 'statistics', 'autoplay', 'application', 'freecell',], function (web_fc_solve_ui, solver2, solitaire, auto_stack, auto_turn, statistics, autoplay, application, freecell) { web_fc_solve_ui.init_module((module_wrapper) => { " , subject="Solver", suffix='}; });}' ) }}
{% endblock %}
{% block page_extra_head_elements %}
<link rel="stylesheet" href="{{ base_path }}css/qunit.css" />
<script src="{{ base_path }}js/jquery.querystring.js"></script>
<script src="{{ base_path }}js/jquery.phoenix.js"></script>
<script src="{{ base_path }}js/lodash.custom.min.js"></script>
<script src="{{ base_path }}js/qunit.js"></script>
<script src="{{ base_path }}js/require--debug.js"></script>
<script src="{{ base_path }}js/yui-debug.js"></script>
<script src="{{ base_path }}js/yui-breakout.js"></script>
<link rel="stylesheet" href="{{ base_path }}web-fc-solve.css" />
<link rel="stylesheet" href="{{ base_path }}solitairey-cards.css" />
{% endblock %}
{% block extended_body %}

<h1 id="qunit-header">QUnit test</h1>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent">User Agent</h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>

{% endblock %}
