[%- SET title = "UI (User-Interface) Tests" -%]

[%- BLOCK generate_description -%]
<p>
UI (User-Interface) Tests for the online Freecell Solvers (intended for developers and contributors).
</p>
[% END %]

[%- BLOCK emscripten_common -%]
[% INCLUDE emscripten_common__header subject = subject , %]
<script>
[% INCLUDE set_up_requirejs %]
require(["ui-tests-driver"], function (tests_runner) {
require(['./solver-freecell'], function (solver) {
[% incs %] {
    web_ui.set_up(module_wrapper, solver);
    tests_runner.run_after_delay(tests_runner.run_tests);
[%- IF enable_jquery_ui -%]
    $( "#output_tabs" ).tabs();
[% END %]
    };
});
});
});
});
</script>

[% END %]

[% BLOCK run_emscripten_common %]
<INVALIDHTML>WHY DOES THIS block gets invoked instead of the overriden one?</INVALIDHTML>
[% THROW "WHY DOES THIS block gets invoked instead of the overriden one?" %]
[% INCLUDE emscripten_common incs = "require(['web-fc-solve-ui', 'solver-freecell', 'solitaire', 'auto-stack-clear', 'auto-turnover', 'statistics', 'autoplay', 'application', 'freecell',], function (web_ui, solver2, solitaire, auto_stack, auto_turn, statistics, autoplay, application, freecell) { window.my_web_fc_solve_ui = web_ui; web_ui.init_module((module_wrapper) => { " , subject = "Solver" , %]
[% END %]
[% INCLUDE "src/js-fc-solve/text/index.html.tt2" %]
