{% extends "js-fc-solve/text/index.html.jinja" %}
{% block js_fc_solve__page_extra_head_elements %}
<link rel="stylesheet" href="{{ base_path }}css/qunit.css" />
<script src="{{ base_path }}js/jquery.querystring.js"></script>
{{ js_requirejs() }}
<link rel="stylesheet" href="{{ base_path }}web-fc-solve.css" />
{% endblock %}
{% block extended_body %}

<h1 id="qunit-header">QUnit test</h1>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent">User Agent</h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>
<script>
requirejs.config({
    baseUrl: '{{ base_path }}js',
    });
require(["ui-tests-driver"], function (foo) {foo();});
</script>

{% endblock %}
{% macro jquery_ui_head_elements() %}
{% endmacro %}
{% block js_fc_solve__jquery_ui_head_elements %}
{% endblock %}
