/.tidyall.d/
/Task-FreecellSolver-Testing/.build
/cpan/AI-Pathfinding-OptimizeMultiple/.build
/cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/.build
/cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/.tidyall.d
/cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/tags
/cpan/Games-Solitaire-Verify/benchmark/.ninja_deps
/cpan/Games-Solitaire-Verify/benchmark/.ninja_log
/cpan/Games-Solitaire-Verify/benchmark/Results/*.res
/cpan/Games-Solitaire-Verify/benchmark/_Inline/
/cpan/Games-Solitaire-Verify/benchmark/build.ninja
/cpan/Games-Solitaire-Verify/benchmark/par2.mak
/cpan/temp-AI-Pathfinding-OptimizeMultiple-system-tests/.data-len-proc
/cpan/temp-AI-Pathfinding-OptimizeMultiple-system-tests/.data-proc
/fc-solve/B
/fc-solve/presets/flares-based-scans-data/qsi-flares-choice-fc_solve.fc-pro.summary
/fc-solve/presets/flares-based-scans-data/qualified-foo-flares-choice-fc_solve.summary
/fc-solve/presets/soft-threads/atomic-moves/auto-gen/.data-len-proc
/fc-solve/presets/soft-threads/atomic-moves/auto-gen/.data-proc
/fc-solve/presets/soft-threads/meta-moves/auto-gen/.data-len-proc
/fc-solve/presets/soft-threads/meta-moves/auto-gen/.data-proc
/fc-solve/presets/soft-threads/meta-moves/auto-gen/2-cells-freecell/.data-len-proc
/fc-solve/presets/soft-threads/meta-moves/auto-gen/2-cells-freecell/.data-proc
/fc-solve/scripts/TEST_OPTIMIZATIONS/DUMPS-*
/fc-solve/scripts/TEST_OPTIMIZATIONS/__p
/fc-solve/site/http-services/ajax-fc-solve--dancer1/Games-FC_Solve-AJAX-Service/MYMETA.json
/fc-solve/site/http-services/ajax-fc-solve--dancer1/Games-FC_Solve-AJAX-Service/MYMETA.yml
/fc-solve/site/http-services/ajax-fc-solve--dancer1/Games-FC_Solve-AJAX-Service/Makefile
/fc-solve/site/http-services/ajax-fc-solve--dancer1/Games-FC_Solve-AJAX-Service/blib/
/fc-solve/site/http-services/ajax-fc-solve--dancer1/Games-FC_Solve-AJAX-Service/pm_to_blib
/fc-solve/site/http-services/ajax-fc-solve/Games-FC_Solve-AJAX-Service/MYMETA.json
/fc-solve/site/http-services/ajax-fc-solve/Games-FC_Solve-AJAX-Service/MYMETA.yml
/fc-solve/site/http-services/ajax-fc-solve/Games-FC_Solve-AJAX-Service/Makefile
/fc-solve/site/http-services/ajax-fc-solve/Games-FC_Solve-AJAX-Service/blib/
/fc-solve/site/http-services/ajax-fc-solve/Games-FC_Solve-AJAX-Service/pm_to_blib
/fc-solve/site/wml/.perltidyrc
/fc-solve/site/wml/.sass-cache
/fc-solve/site/wml/.tidyall.d
/fc-solve/site/wml/Makefile
/fc-solve/site/wml/Tests/case-insense-file-collision.t
/fc-solve/site/wml/Tests/data/cache/spelling-timestamp.json
/fc-solve/site/wml/Tests/spell-check-is-sorted.t
/fc-solve/site/wml/Tests/tidyall.t
/fc-solve/site/wml/bin/Run-YUI-Compressor
/fc-solve/site/wml/bin/batch-inplace-html-minifier
/fc-solve/site/wml/bin/clean-up-docbook-xhtml-1.1.xslt
/fc-solve/site/wml/bin/gen-build-deps
/fc-solve/site/wml/bin/gen-rpm-for-build-deps
/fc-solve/site/wml/bin/jsmin
/fc-solve/site/wml/bin/post-incs.pl
/fc-solve/site/wml/bin/sort-check-spelling-file
/fc-solve/site/wml/bin/spell-checker-iface
/fc-solve/site/wml/bin/translate-Vered-XML
/fc-solve/site/wml/dest
/fc-solve/site/wml/dest-prod
/fc-solve/site/wml/lib/Inc/cpan_dists.wml
/fc-solve/site/wml/lib/Shlomif/Out.pm
/fc-solve/site/wml/lib/Shlomif/Spelling/Check.pm
/fc-solve/site/wml/lib/Shlomif/Spelling/Iface.pm
/fc-solve/site/wml/lib/fc-solve-for-javascript/*.bc
/fc-solve/site/wml/lib/fc-solve-for-javascript/CMAKE-BUILD-dir/
/fc-solve/site/wml/lib/fc-solve-for-javascript/__DESTDIR/
/fc-solve/site/wml/lib/fc-solve-for-javascript/board_gen/
/fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve-test.html
/fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve-test.html.mem
/fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve-test.js
/fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve.js
/fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve.js.mem
/fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve.wasm
/fc-solve/site/wml/lib/fc-solve-for-javascript/libfreecell-solver.js
/fc-solve/site/wml/lib/fc-solve-for-javascript/libfreecell-solver.js.mem
/fc-solve/site/wml/lib/fc-solve-for-javascript/libfreecell-solver.wasm
/fc-solve/site/wml/lib/fc-solve-for-javascript/my-modified-fc-solve-test.html
/fc-solve/site/wml/lib/fc-solve-for-javascript/patsolve/patsolve/*.bc
/fc-solve/site/wml/lib/for-node/js/*.js
/fc-solve/site/wml/lib/for-node/js/dist/fc_solve_find_index_s2ints.js
/fc-solve/site/wml/lib/for-node/libfreecell-solver.js.mem
/fc-solve/site/wml/lib/for-node/libfreecell-solver.wasm
/fc-solve/site/wml/lib/make/build-deps/build-deps.mak
/fc-solve/site/wml/lib/make/include.mak
/fc-solve/site/wml/lib/make/rules.mak
/fc-solve/site/wml/lib/make/shlomif_common.mak
/fc-solve/site/wml/lib/out-babel/js/*.js
/fc-solve/site/wml/lib/pyjs/find-index-s2ints/output/
/fc-solve/site/wml/lib/transcrypt_module/dist/
/fc-solve/site/wml/lib/transcrypt_module/fc_solve_find_index_s2ints.js
/fc-solve/site/wml/lib/transcrypt_module/src/__javascript__/
/fc-solve/site/wml/lib/transcrypt_module/src/fc_solve_find_index_s2ints.py
/fc-solve/site/wml/libfreecell-solver.js.mem
/fc-solve/site/wml/libfreecell-solver.wasm
/fc-solve/site/wml/node_modules
/fc-solve/site/wml/package-lock.json
/fc-solve/site/wml/src/charts/dbm-solver-__int128-optimisation/typings
/fc-solve/site/wml/src/charts/dbm-solver-__int128-optimisation/typings.json
/fc-solve/site/wml/src/js/typings
/fc-solve/site/wml/src/js/typings.json
/fc-solve/site/wml/tslint.json
/fc-solve/source/.tidyall.d
/fc-solve/source/AUTHORS.html
/fc-solve/source/AUTHORS.xml
/fc-solve/source/B
/fc-solve/source/COPYING.html
/fc-solve/source/COPYING.xml
/fc-solve/source/HACKING.html
/fc-solve/source/HACKING.xml
/fc-solve/source/INSTALL.html
/fc-solve/source/INSTALL.xml
/fc-solve/source/NEWS.html
/fc-solve/source/NEWS.xml
/fc-solve/source/README.html
/fc-solve/source/README.xml
/fc-solve/source/TODO.html
/fc-solve/source/TODO.xml
/fc-solve/source/USAGE.html
/fc-solve/source/USAGE.xml
/fc-solve/source/asciidoc.css
/fc-solve/source/asciidoc.js
/fc-solve/source/cmake/Shlomif_Common.cmake
/fc-solve/source/cmd_line.gperf
/fc-solve/source/cmd_line_inc.h
/fc-solve/source/fc-solve.6
/fc-solve/source/fc-solve.txt
/fc-solve/source/fc-solve.xml
/fc-solve/source/freecell-solver.spec
/fc-solve/source/ids.txt
/fc-solve/source/patsolve
/fc-solve/source/scripts/ids-whitelist.txt
/fc-solve/source/t/lib/FC_Solve/__pycache__
/fc-solve/source/t/lib/TAP/__pycache__
/fc-solve/source/tags
/fc-solve/source/xxHash-wrapper
