cpan/AI-Pathfinding-OptimizeMultiple/.build
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/Build
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/META.json
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/META.yml
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/MYMETA.json
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/MYMETA.yml
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/Makefile.PL
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/_build
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/blib
cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/tags
cpan/temp-AI-Pathfinding-OptimizeMultiple-system-tests/.data-len-proc
cpan/temp-AI-Pathfinding-OptimizeMultiple-system-tests/.data-proc
fc-solve/B
fc-solve/presets/flares-based-scans-data/qsi-flares-choice-fc_solve.fc-pro.summary
fc-solve/presets/flares-based-scans-data/qualified-foo-flares-choice-fc_solve.summary
fc-solve/presets/soft-threads/meta-moves/auto-gen/2-cells-freecell/.data-len-proc
fc-solve/presets/soft-threads/meta-moves/auto-gen/2-cells-freecell/.data-proc
fc-solve/presets/soft-threads/meta-moves/auto-gen/.data-len-proc
fc-solve/presets/soft-threads/meta-moves/auto-gen/.data-proc
fc-solve/site/wml/.sass-cache
fc-solve/site/wml/dest
fc-solve/site/wml/include.mak
fc-solve/site/wml/lib/fc-solve-for-javascript/*.bc
fc-solve/site/wml/lib/fc-solve-for-javascript/CMAKE-BUILD-dir/
fc-solve/site/wml/lib/fc-solve-for-javascript/__DESTDIR/
fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve-test.html
fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve-test.js
fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve-test.html.mem
fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve.js
fc-solve/site/wml/lib/fc-solve-for-javascript/fc-solve.js.mem
fc-solve/site/wml/lib/fc-solve-for-javascript/libfreecell-solver.js
fc-solve/site/wml/lib/fc-solve-for-javascript/libfreecell-solver.js.mem
fc-solve/site/wml/lib/fc-solve-for-javascript/my-modified-fc-solve-test.html
fc-solve/site/wml/rules.mak
fc-solve/site/wml/scripts/jsmin
fc-solve/source/B
fc-solve/source/cmake/Shlomif_Common.cmake
fc-solve/source/AUTHORS.html
fc-solve/source/AUTHORS.xml
fc-solve/source/COPYING.html
fc-solve/source/COPYING.xml
fc-solve/source/HACKING.html
fc-solve/source/HACKING.xml
fc-solve/source/INSTALL.html
fc-solve/source/INSTALL.xml
fc-solve/source/NEWS.html
fc-solve/source/NEWS.xml
fc-solve/source/README.html
fc-solve/source/README.xml
fc-solve/source/TODO.html
fc-solve/source/TODO.xml
fc-solve/source/USAGE.html
fc-solve/source/USAGE.xml
fc-solve/source/fc-solve.6
fc-solve/source/fc-solve.txt
fc-solve/source/fc-solve.xml
fc-solve/source/freecell-solver.spec
fc-solve/source/rate_state.c
fc-solve/source/t/t/lib/FC_Solve/__init__.pyc
fc-solve/source/t/t/lib/TAP/Simple.pyc
fc-solve/source/t/t/lib/TAP/__init__.pyc
fc-solve/source/tags
Task-FreecellSolver-Testing/Build
Task-FreecellSolver-Testing/META.json
Task-FreecellSolver-Testing/META.yml
Task-FreecellSolver-Testing/MYMETA.json
Task-FreecellSolver-Testing/MYMETA.yml
Task-FreecellSolver-Testing/Makefile.PL
Task-FreecellSolver-Testing/_build/
Task-FreecellSolver-Testing/blib/
