os: linux
dist: trusty
python:
    - '3.6'
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y asciidoc cmake cmake-data cpanminus gperf libgmp-dev libgoogle-perftools-dev libperl-dev mercurial ninja-build python3 python3-setuptools perl python3-pip silversearcher-ag valgrind wml
    - docker run -dit --name emscripten -v $(pwd):/src trzeci/emscripten:sdk-incoming-64bit bash
    - sudo cpanm --quiet --notest Pod::Xhtml Task::Latemp
    - bash fc-solve/scripts/install-git-cmakey-program-system-wide.bash 'git' 'installer' 'https://github.com/thewml/latemp.git'
    - ( cd .. && hg clone https://shlomif@bitbucket.org/shlomif/wml-extended-apis && cd wml-extended-apis/xhtml/1.x && bash Install.bash )
    - ( cd .. && hg clone https://shlomif@bitbucket.org/shlomif/wml-affiliations && cd wml-affiliations/wml && bash Install.bash )
    - ( cd .. && hg clone https://shlomif@bitbucket.org/shlomif/latemp && cd latemp/support-headers && perl install.pl )
install:
    - ls /home/travis/build/shlomif/fc-solve/fc-solve/source/../site/wml/../../source/main.c || true
    - ls /home/travis/build/shlomif/fc-solve/fc-solve/source/../site/wml/../../source/*.[ch] || true
    - which python3
    - python3 --version
    - sudo -H `which python3` -m pip install cffi
    - sudo -H `which python3` -m pip install cookiecutter
    - sudo -H `which python3` -m pip install random2
    - sudo -H `which python3` -m pip install Zenfilter
      # For G-S-V dzil
    - sudo cpanm --quiet --notest Dist::Zilla Pod::Weaver::Section::Support Test::Kwalitee Test::Pod Test::Pod::Coverage
      # For the website
    - sudo cpanm --quiet --notest File::Find::Object::Rule HTML::Latemp::GenMakeHelpers IO::All
    - sudo cpanm --quiet --notest Task::FreecellSolver::Testing
    - (cd cpan/Games-Solitaire-Verify/Games-Solitaire-Verify/ && dzil authordeps --missing | sudo cpanm --notest)
    - wget http://web-cpan.shlomifish.org/downloads/libtap-1.12.0.tar.bz2
    - tar -xvf libtap-1.12.0.tar.bz2
    - ( mkdir B && cd B && cmake ../libtap-1.12.0 && make && sudo make install )
    - ( a="$(pwd)"; mkdir B2 && cd B2 && hg clone https://bitbucket.org/shlomif/shlomif-cmake-modules && cd shlomif-cmake-modules/shlomif-cmake-modules && cp -f "$(pwd)"/Shlomif_Common.cmake "$a"/fc-solve/source/cmake/ )
perl:
    - "5.24"
python:
    - "3.5"
script:
    - export FC_SOLVE__MULT_CONFIG_TESTS__TRACE=1 ; set -o pipefail ; cd fc-solve/source ; perl ../scripts/multi_config_tests.pl 2>&1 | zenfilter --count-step=500 --last=500 --filter='^Running:\s*\{'
sudo: required
services:
    - docker
