{% extends "template.jinja" %}
{% import "Inc/js_fc_solve.jinja" as jsfcs %}
{% block title %}Freecell Deal Finder{% endblock %}
{% block page_extra_head_elements %}
{{ jsfcs.page_extra_head_elements(base_path, enable_jquery_ui) }}
{% endblock %}
{% block body %}


{% macro gen_desc() %}
<p>
string to indices test. <span class="enable_js">Please enable
<strong>JavaScript</strong>.</span>
</p>

{% endmacro %}

{{ jsfcs.emscripten_common(base_path=base_path, incs="require([\"s2i-test\"], function (t)", subject="string to indices test", desc=gen_desc())}}

{% endblock %}
