[%- SET title = "Online Freecell solver (Automated tests)" -%]


[% BLOCK page_extra_head_elements %]
[% load_javascript_srcs("jquery.querystring.js") %]
[% INCLUDE jquery_ui_head_elements %]
[% INCLUDE js_requirejs %]
<link rel="stylesheet" href="[% base_path %]web-fc-solve.css" />
[% load_javascript_srcs("jquery.ajaxQueue.min.js") %]
[% END %]

[%- WRAPPER wrap_html -%]

<h2 id="deal_idx_update" style="color: red">Not started</h2>

<script>
[% requirejs_conf() %]
[% "\n" %]
require(["web-fc-solve--expand-moves--mega-test"], function (t) {
      try {
          t.test_js_fc_solve_class(jQuery.ajaxQueue);
      }
      catch (err) {
          alert(err);
      }
  });
</script>

<h2>AJAX Output</h2>

<textarea id="ajax_out"></textarea>

<h2>JS-FCS Output</h2>

<textarea id="js_fcs_out"></textarea>

<h1 id="qunit-header">QUnit example</h1>
<h2 id="qunit-banner">Banner</h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent">User Agent</h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>

[% END %]
