{% extends "template.jinja" %}
{% block title %}Online Freecell solver (Automated tests){% endblock %}
{% block page_extra_head_elements %}
<link rel="stylesheet" href="{{ base_path }}css/qunit.css" />
<script src="{{ base_path }}js/jquery.querystring.js"></script>
<script src="{{ base_path }}js/qunit.js"></script>
{{ jquery_ui_head_elements() }}
{{ js_requirejs() }}
<link rel="stylesheet" href="{{ base_path }}web-fc-solve.css" />
{% endblock %}
{% block body %}

<h1 id="qunit-header">QUnit test</h1>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent">User Agent</h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>
<script>
{{ requirejs_conf() }}
require(["auto-tests-driver"], function (tests_runner) {setTimeout(tests_runner, 1000);});
</script>

{% endblock %}
