a:hover { color : red }
.navbar
{
    background-color: #C5CAE2;
    width : 20%;
    padding-left : 0.5em;
    padding-right : 0.5em;
}
.main 
{ 
    padding-left : 1em; 
}

/* CSS Positioning */
.navbar
{
    float: left;
}
.main 
{
    margin-left : 23%;
}


h2
{
    background-color: #FFEE00;
}
h3
{
    background-color: #00D000;
}
.plain
{
    background-color: transparent;
}
h2, h3, h4
{ 
    padding-left: 4pt;
    padding-right: 4pt;    
    padding-top: 1pt;
    padding-bottom: 1pt;
}
.main p, .main table
{
   margin-left: 17pt;
   margin-right: 17pt;
}
p.desc
{ 
    margin-left : 70pt;
    font-weight: bold;
}
.main ol, .main ul, .main dl
{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1.5em;
    margin-right: 1em;
}
.paypal
{
    border: 0;
    margin-bottom: 1em;
}
ul.navbarmain { padding-left : 1em ; margin-left : 1em }
ul.navbarnested { padding-left : 0em ; margin-left : 2em }
div.indent { margin-left : 3em }
.bless { border: none; }

