a:hover { color : red }
.navbar { background-color: #C5CAE2;  width : 20%; 
    padding-left : 0.5em; padding-right : 0.5em; }
.main { padding-left : 1em; }
p.desc { margin-left : 3em }
h2 { background-color: #FFEE00  }
ul.navbarmain { padding-left : 1em ; margin-left : 1em }
ul.navbarnested { padding-left : 0em ; margin-left : 2em }
div.indent { margin-left : 3em }
