<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8"/>
<meta name="author" content="Shlomi Fish"/>
<meta name="description" content="{{ desc }}"/>
<meta name="keywords" content="{{ common_keywords }}{{ more_keywords }}"/>
<link rel="stylesheet" href="{{ base_path }}style.css" type="text/css" media=
"screen" title="Normal"/>
<link rel="stylesheet" href="{{ base_path }}print.css" type="text/css" media=
"print"/>
<link rel="shortcut icon" href="{{ base_path }}favicon.ico" type="image/x-icon"/>
<link rel="next" href="./"/>
<script src="{{ base_path }}js/jquery-dev.js"></script>
<script src="{{ base_path }}js/toggler.js"></script>
<script src="{{ base_path }}js/toggle_sect.js"></script>
<link rel="alternate" type="application/rss+xml" title="Freecell Solver's Blog RSS Feed" href="http://fc-solve.blogspot.com/feeds/posts/default?alt=rss"/>
<link rel="alternate" type="application/atom+xml" title="Freecell Solver's Blog Atom Feed" href="http://fc-solve.blogspot.com/feeds/posts/default"/>
{{ nav_links }}
</head>

<body{{ body_params }}>

<div class="header" id="header"></div>
<div id="faux">
<p class="invisible"><a href="#main">Go to main content</a></p>
<p class="invisible"><a href="#navbar">Go to the navigation</a></p>
<div id="container-all"><button id="show_navbar" class="on">Hide
NavBar ⬈</button>
<main id="main">
<header>
<h1>{{ self.title() }}</h1>
<div class="try_online_wrapper"><a class="solve_online_button" id="try_online_link" href="{{ base_path }}js-fc-solve/text/"><span class="try_main">Try</span><br/>
<span class="try_main">Online</span><br/>
<br/>
<span class="try_note">Firefox, Chrome, Opera, or IE10+</span></a></div>
</header>
{% block body %}{% endblock %}
<p><a href=
    "http://www.addtoany.com/share_save?linkurl={{ share_link }}&amp;linkname=">
<img src="{{ base_path }}images/share_save_171_16.png" width="171" height="16"
class="bless" alt="Share/Bookmark"/></a></p>
</main>
</div>
</div>
<h3 class="hide">Footer</h3>
<footer id="footer">This work is <b>licensed</b> under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a> (or
at your option any later version).<br/>
<b>Webmaster:</b> <a href="http://www.shlomifish.org/">Shlomi
Fish</a> (<a href="mailto:shlomif@shlomifish.org">Email -
shlomif@shlomifish.org</a>)<br/>
<script src="{{ base_path }}js/selfl.js"></script></footer>
	</body>
</html>
