{% macro fcs_document(base_path, fn,desc) %}
<tr>
<td>
<a href="{{ base_path }}docs/distro/{{ fn }}.html">{{ fn }}</a>
</td>
<td>
<a href="{{ base_path }}{{ fn }}">Plaintext</a>
</td>
<td>
{{ fn if desc == "" else desc }}
</td>
</tr>
{% endmacro %}

{% macro fcs_distribution_documents(base_path) %}
<table class="downloads">
<tr>
<th>HTML</th>
<th>Plaintext</th>
<th>Description</th>
</tr>
{{ fcs_document(base_path=base_path,fn="README",desc="The &quot;README&quot; File" ) }}
{{ fcs_document(base_path=base_path,fn="INSTALL",desc="How to install Freecell Solver" ) }}
{{ fcs_document(base_path=base_path,fn="NEWS",desc="The file containing what's new in every release." ) }}
{{ fcs_document(base_path=base_path,fn="USAGE",desc="A detailed usage document" ) }}
{{ fcs_document(base_path=base_path,fn="TODO",desc="The to-do list" ) }}
{{ fcs_document(base_path=base_path,fn="AUTHORS",desc="List of authors and contributors" ) }}
{{ fcs_document(base_path=base_path,fn="COPYING",desc="The licensing/copyright terms file of Freecell Solver" ) }}
{% set fn="HACKING" %}
<tr>
<td>
<a href="{{ base_path }}docs/distro/{{ fn }}.html">CONTRIBUTING</a>
</td>
<td>
<a href="{{ base_path }}{{ fn }}">Plaintext</a>
</td>
<td>
Some guidelines for how to contribute. Note <a href="http://paulgraham.com/gba.html">this</a> regarding the "HACKING" in the filename.
</td>
</tr>
</table>
{% endmacro %}
