@import "common-style";

.ui-helper-clearfix:after {
    clear: none;
}

.ui-widget {
    font-size: 1em;

    @include default_font_family;
}

.ui-widget-content {
    color: black;
}

.fc_solve_tabs .first {
    margin-top: 1em;
}

// Why do I have to do that?
.fc_solve_tabs a {
    color: blue;

    &:visited {
        color: purple;
    }

    &:hover {
        color: red;
    }
}

#output_tabs.disable_animated_output {
    #output_tabs__animated__selector {
        &,
        & * {
            text-decoration-line: line-through;
        }
    }
}
