@mixin common-top {
    margin-top: 4em;
    clear: left;
}
/*
 * Taken from https://webdesignerwall.com/tutorials/css3-gradient-buttons
 * under the MIT License
 * */
@mixin styled_button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font:
        14px/100% Arial,
        Helvetica,
        sans-serif;
    padding: 0.5em 2em 0.55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    &:hover {
        text-decoration: none;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

@mixin button_orange_color {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#faa51a),
        to(#f47a20)
    );
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    &:hover {
        background: #f47c20;
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#f88e11),
            to(#f06015)
        );
        background: -moz-linear-gradient(top, #f88e11, #f06015);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    }
    &:active {
        color: #fcd3a5;
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#f47a20),
            to(#faa51a)
        );
        background: -moz-linear-gradient(top, #f47a20, #faa51a);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
    }
}

textarea.emscripten {
    font-family: monospace;
    width: 60%;
    margin-top: 1em;
    border: #686 2pt solid;
    border-radius: 5pt;

    &:hover {
        border-color: #8a8;
    }
}

.disabled {
    display: none;
}

#fc_solve_output {
    border: green 3pt solid;
    padding: 0.5em;
    background-color: #b0cfe1;
    overflow: scroll;
    height: 50em;
    width: 70em;
}

#populate_input {
    /* float: right; */
    /* margin-right: 200px; */
    // clear: left;
    font-size: 130%;
}

#capitalize_cards,
#expand_button,
#run_do_solve {
    // @include styled_button;
    font-size: 130%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 3pt;
    padding: 0.3em;
}

#expand_button,
#run_do_solve {
    // @include button_orange_color;
    /*
     * rgb(50, 205, 50) is "LimeGreen", see:
     *
     * https://en.wikipedia.org/wiki/Web_colors
     *
     * We change the background-color slightly as well as the border-color
     * because some color-blind users may have issues distinguishing between
     * red and green.
     *
     * */
    background-color: rgb(50, 205, 50);
    color: black;
    // border-color: #b4ff00;
    border: black 3pt solid;
    &:focus {
        border-color: red;
        /*
         * rgb(0, 128, 0) is "Green", see:
         *
         * https://en.wikipedia.org/wiki/Web_colors
         *
         * */
        background-color: rgb(0, 128, 0);
        color: white;
    }
}

#preset {
    margin-right: 2em;
}

#fc_solve_status {
    font-weight: bold;

    &.not_started {
        color: black;
    }

    &.running {
        color: blue;
    }

    &.solved {
        color: green;
    }

    &.exceeded,
    &.impossible {
        color: purple;
    }

    &.error {
        color: red;
    }
}

#status_wrap,
#board_parse__wrap {
    clear: none;
    float: left;
    border: orange 1pt solid;
    margin: 1em;
    padding: 0.5em;
}

.fc_solve_tabs {
    float: left;
    width: 50%;
    * {
        margin-right: auto;
        clear: none;
    }
}

.fc_solve_tabs .tab {
    width: 90%;
    overflow: hidden;
}

.enable_js {
    &.ok {
        display: none;
    }

    strong {
        color: red;
    }
}

#about_sect,
.instructions_link {
    font-size: 120%;
}

#fc_solve_bookmark {
    margin-top: 1em;
    border: black 1pt solid;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    clear: left;

    .controls_wrapper {
        margin-left: 1em;
    }
}

#fc_solve_bookmark_button {
    font-size: 120%;
}

#fcs_bookmark_wrapper {
    margin-left: 0;

    > li {
        margin-bottom: 0.5em;
    }
}

.output_form {
    #output,
    .out_controls {
        // float: left;
        vertical-align: top;
        margin-bottom: 2em;
    }

    .out_controls {
        @include common-top;
        margin-left: 2em;
    }

    #one_based {
        margin-bottom: 2em;
    }
}

#fcs_advanced {
    border: black 1pt solid;
    clear: left;
    padding: 1em;

    label {
        padding: 0.5em;
    }

    .widget_wrapper {
        display: inline;
    }
}

#game_type {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

.state {
    margin-top: 1em;
}

#board_parse__wrap {
    &.hide {
        display: none;
    }
    label {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 90%;
    }
    textarea {
        margin-top: 1em;
    }
}

.diags_wrap {
    display: flex;
    flex-direction: column;
}

#dynamic_output {
    background-color: #eee;
    @if false {
        overflow: scroll;
        height: 50em;
    }

    ol {
        @include common-top;
        list-style-type: none;
    }

    .move.unexpanded {
        .inner_moves {
            display: none;
        }
    }

    .move.expanded {
        .inner_moves {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            padding-left: 2em;
            border-left: 3pt black solid;
        }
    }

    .state pre {
        background-color: #c5e1c6;
    }

    .move {
        margin-left: 1em;
    }
}

$mgn: 1em;
#output_label {
    display: block;
    margin-bottom: 0.75em;
    margin-top: $mgn;
}

.upper_buttons__wrapper {
    clear: left;
    // margin: 1em;
    padding: 1em;
    button {
        font-size: 200%;
        padding: 0.5em;
        $m: 10px;
        margin-left: $m;
        margin-right: $m;
    }
}
